:root {
  --color-main: #04BEC4;
  --color-title: #0F241D;
  --color-option: #03658C;
  --color-text: #767676;
  --color-back: #F9F9F9;
  --title-font-size: 2.25rem;
}
html {
  scroll-behavior: smooth;
}
strong {
  color: var(--color-option);
}

 /* =====MENU===== */

.menu {
  position: fixed;
  display: flex;
  background: #FBFBFB;
  width: 100%;
  height: 4.5rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E4E4E4;
  padding: 0.65rem 7.65rem;
  margin-bottom: 4.5rem;
  z-index: 100;
}
nav.scroll {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}
.icon-menu {
  display: none;
  opacity: 0;
  visibility: hidden;
}
.logo {
  font: 700 2rem 'DM sans', sans-serif;
  color: var(--color-title);
}
.menu h1 .first-letter {
  color: var(--color-option);
}
.menu h1 .last-word {
  color: var(--color-main);
}
.menu-link {
  display: flex;
  width: 27.5rem;
}
.menu-link-item {
  font: 400 1rem 'DM Sans', sans-serif;
  margin-right: 2rem;
}
.menu-link-item a {
  color: var(--color-title);
  transition: color 0.2s;
  position: relative;
}
.menu-link-item a:hover {
  color: var(--color-main);
}
.menu-link-item a::after {
  content: '';
  width: 0;
  height: 0.125rem;
  background: var(--color-main);
  position: absolute;
  left: 0;
  bottom: -1.5rem;
  transition: width 0.2s;
}
.menu-link-item a:hover::after {
  width: 100%;
}
.menu-link-item:last-child {
  margin-right: 0;
}
nav .close {
  display: none;
  visibility: hidden;
  opacity: 0;
}
nav .open {
  display: none;
  visibility: hidden;
  opacity: 0;
}

/* =====SESSAO PRINCIPAL===== */
.main {
  display: flex;
  width: 100%;
  height: 43.6875rem;
  padding: 15rem 0 0 7.65rem;
  background: var(--color-back);
}
.main .description {
  display: grid;
  grid-template-areas: 
  "grid-title"
  "grid-body"
  "grid-button";
  grid-template-columns: 100%;
  grid-template-rows: 6.75rem 2.875rem 3.125rem;
  grid-gap: 1rem;
  width: 24.75rem;
  margin: 2.5rem 7.37rem 0 0;
}
.description h2 {
  grid-area: grid-title;
  font: 700 var(--title-font-size) 'Poppins', sans-serif;
  color: var(--color-title);
  line-height: 3.375rem;
}
.description p {
  grid-area: grid-body;
  font: 400 1.125rem 'DM Sans', sans-serif;
  color: var(--color-text);
  width: 21.68rem;
}
.description a {
  grid-area: grid-button;
  font: 400 1rem 'DM Sans', sans-serif;
  background: var(--color-main);
  width: 13.625rem;
  padding: 0.875rem 2rem;
  text-align: center;
  color: #FCFCFC;
  border-radius: 0.25rem;
}
.clinic {
  position: relative;
}
.clinic img {
  position: relative;
  width: 35rem;
  height: 23.44rem;
  object-fit: cover;
  border-radius: 0.25rem;
  z-index: 1;
}
.clinic::before {
  content: '';
  width: 35rem;
  height: 23.44rem;
  position: absolute;
  top: -4.25rem;
  bottom: 0;
  right: 0;
  left: 6.0625rem;
  background: #CCFFEB;
  z-index: 0;
  border-radius: 0.25rem;
}
.divider-1 {
  height: 1px;
  background: linear-gradient(270deg, #69B99D 0%, rgba(204, 244, 230, 0.34) 100%);
}

/* =====SESSAO SOBRE===== */
.about {
  width: 100%;
  height: 47.875rem;
  padding: 12.125rem 0 10rem 0;
  background: #FFF;
  display: flex;
}
.about-image {
  position: relative;
}
.about-image img {
  width: 35.625rem;
  height: 25.75rem;
  object-fit: cover;
  margin-right: 4rem;
  position: relative;
  z-index: 1;
  object-fit: cover;
  border-radius: 0.25rem;
}
.about-image::before {
  content: '';
  width: 35.625rem;
  height: 25.75rem;
  position: absolute;
  border-radius: 0.25rem;
  top: -2.125rem;
  bottom: 0;
  right: 0;
  left: -12rem;
  background: #CCFFEB;
  z-index: 0;
}
.about-us {
  width: 38.125rem;
}
.about-us h3 {
  font: 700 var(--title-font-size) 'Poppins', sans-serif;
  margin-bottom: 0.75rem;
  color: var(--color-title);
}
.about-us p {
  font: 400 16px 'DM Sans', sans-serif;
  line-height: 1.5rem;
  color: var(--color-text);
}
.divider-2 {
  height: 0.0625rem;
  background: linear-gradient(270deg, rgba(204, 244, 230, 0.34)  0%, #69B99D 100%);
}

/* =====SESSAO SERVIÇOS===== */
.services {
  width: 100%;
  height: 54.375rem;
  padding: 10rem 7.65rem;
  background: var(--color-back);
}
.services-description {
  padding: 0 18.725rem;
  margin: 0 auto;
  text-align: center;
}
.services-description h3 {
  font: 700 var(--title-font-size) 'Poppins', sans-serif;
  margin-bottom: 0.75rem;
  color: var(--color-title);
}
.services-description p {
  font: 700 1.125rem 'DM Sans', sans-serif;
  color: var(--color-title);
}
.services-examples {
  display: flex;
  margin-top: 4rem;
  gap: 2rem;
}
.services-examples-item {
  width: 22rem;
  height: 22rem;
  text-align: center;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 4px solid var(--color-main);
  border-radius: 0.25rem 0.25rem 0 0;
}
.services-examples-item img {
  width: 5rem;
  height: 5rem;
  margin: 3.625rem 0 1.5rem 0;
}
.services-examples-item h4 {
  font: 700 1.5rem 'Poppins', sans-serif;
  margin-bottom: 0.75rem;
  color: var(--color-title);
}
.services-examples-item p {
  font: 400 1rem 'DM Sans', sans-serif;
  line-height: 1.25rem;
  margin: 0 3rem 3.625rem;
  color: var(--color-text);
}

/* =====SESSAO DEPOIMENTOS===== */
.testimony {
  background: #FFF;
  height: 51.625rem;
}
.testimony header h3 {
  font: 700 var(--title-font-size) 'Poppins', sans-serif;
  text-align: center;
  padding: 10rem 0 4rem 0;
  color: var(--color-title);
}
.testimony-items {
  display: flex;
  padding: 4rem 7.65rem 3.625rem;
  justify-content: space-between;
  margin-bottom: 3.625rem;
}
.testimony-item {
  width: 34rem;
  height: 16.5rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
  margin-right: 2rem;
}
.testimony-item blockquote {
  position: relative;
  padding-left: 3.25rem;
}
.testimony-item blockquote p {
  font: 400 1rem 'DM Sans', sans-serif;
  text-indent: 1.825rem;
  padding: 3.25rem 3.25rem 1.25rem 0;
  color: var(--color-title);
  line-height: 1.625rem;
}
.testimony-item .quotation {
  font: 400 3rem serif;
  position: absolute;
  top: 2.2rem;
  left: 3.2rem;
  color: var(--color-main);
}
.testimony-item cite {
  display: flex;
  align-items: center;
}
.testimony-item cite img {
  width: 2rem;
  height: 2rem;
  clip-path: circle();
  object-fit: cover;
}
.testimony-item .name {
  padding-left: 0.5rem;
  font-style: normal;
  font: 400 1rem 'DM Sans', sans-serif;
  color: var(--color-text);
}
.swiper-slide {
  opacity: 0;
  visibility: hidden;
}
.swiper-slide-active, .swiper-slide-next {
  opacity: 1;
  visibility: visible;
}
.swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
}
.swiper-pagination-bullet-active {
  background: var(--color-main);
}

/* =====SESSAO CONTATO===== */
.contact {
  display: flex;
  padding: 10rem 0 10rem 7.65rem;
  align-items: center;
  background: var(--color-back);
}
.contact-text {
  width: 25.25rem;
  margin-right: 16.75rem;
}
.contact-text h3 {
  font: 700 var(--title-font-size) 'Poppins', sans-serif;
  color: var(--color-title);
  margin-bottom: 0.75rem;
}
.contact-text p {
  font: 400 1.125rem 'DM Sans', sans-serif;
  color: var(--color-text);
  line-height: 1.44rem;
  margin-bottom: 2.375rem;
}
.contact-text a {
  font: 400 1rem 'DM Sans', sans-serif;
  background: var(--color-main);
  color: var(--color-back);
  padding: 0.875rem 2rem;
  border-radius: 0.25rem;
}
.contact-text a i {
  margin-right: 0.625rem;
}
.contact-information {
  display: grid;
  gap: 2rem;
}
.contact-information li {
  display: flex;
  font: 400 1.125rem 'DM Sans', sans-serif;
  color: var(--color-text);
}
.contact-information li i {
  font-size: 1.5rem;
  color: var(--color-main);
  margin-right: 0.75rem;
}

/* =====RODAPÉ===== */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-main);
  padding: 3.75rem 7.65rem;
}
footer .copyright > p {
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}
footer .copyright p {
  font: 400 1rem 'DM Sans', sans-serif;
  color: var(--color-back);
}

footer .logo .first-letter {
  color: var(--color-option);
}
footer .logo .last-word {
  color: var(--color-back);
}
footer .socials {
  display: flex;
  gap: 2rem;
  transition: .3s;
}
footer .socials i {
  font-size: 1.5rem;
  color: var(--color-back);
}
footer .socials a {
  display: inline-block;
}
footer .socials a:hover {
  transform: translateY(-5px);
}

/* =====BOTÃO VOLTAR TOPO===== */
.back-top {
  display: flex;
  position: fixed;
  right: 1rem;
  bottom: 3rem;
  width: 2rem;
  height: 2rem;
  background: var(--color-option);
  clip-path: circle();
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: .2s;
}
.back-top a {
  color: #FFF;
  font-size: 1.5rem;
  padding: 1rem;
}

/* =====RESPONSIVO===== */
@media (max-width: 768px) {
  :root {
    --title-font-size: 1.875rem;
  }
  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }
  .menu {
    width: 100%;
    padding: 1.25rem 1.5rem;
  }
  .logo {
    font-size: 1.8rem;
    margin-right: 4rem;
  }
  .icon-menu {
    display: inline-block;
    opacity: 1;
    visibility: visible;
  }
  .menu-items {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
  .menu-link {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 6.4375rem;
    gap: 4rem;
    height: 100%;
  }
  nav.show.menu {
    justify-content: unset;
    align-items: initial;
  }
  nav.show .menu-items{
    display: initial;
    flex-direction: column;
    opacity: 1;
    visibility: visible;
    background: #FFF;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
  }
  nav.show .menu-link-item {
    margin-right: 0;
    font: 700 1.5rem 'Poppins', sans-serif;
    color: var(--color-title);
  }
  nav.show .menu-link:nth-child(1) {
    margin-top: 3rem;
  }
  nav.show .close, nav .open {
    display: initial;
    visibility: visible;
    opacity: 1;
  }
  nav.show .icon-close {
    position: absolute;
    right: 1.5rem;
  }
  nav.show nav.open, nav.show .icon-menu {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
  .toggle {
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--color-main);
  }
  .main {
    flex-direction: column;
    width: 100%;
    padding: 9rem 0 0 0;
    height: unset;
  }
  .clinic {
    order: 0;
  }
  .clinic::before {
    width: auto;
    height: auto;
    top: -2.5rem;
    bottom: 0;
    right: 0;
    left: 3.625rem;
  }
  .clinic img {
    width: 90%;
    height: 17rem;
  }
  .main .description {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding: 2rem 1.5rem 5rem;
    order: 1;
    width: unset;
    align-items: center;
  }
  .main .description a {
    margin-top: 1rem;
  }
  .description p {
    font-size: 1rem;
    width: 18.625rem;
  }
  .about {
    flex-direction: column;
    padding: 6.25rem 0 5rem 0 ;
    height: auto;
  }
  .about-image img {
    width: 100%;
    height: auto;
  }
  .about-image::before {
    width: 100%;
    height: 16.125rem;
    left: -10rem;
  }
  .about-us {
    width: 100%;
    padding: 2rem 1.5rem 0 1.5rem;
  }
  .about-us h3 {
    margin-bottom: 1rem;
  }
  .services {
    height: auto;
    padding: 5rem 1.5rem;
  }
  .services-description {
    padding: 0;
  }
  .services-description {
    text-align: left;
  }
  .services-description p {
    font-size: 1rem;
  }
  .services-examples {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem
  }
  .testimony {
    height: auto;
    padding: 5rem 1.5rem;
  }
  .testimony header h3 {
    padding: 0;
    text-align: left;
  }
  .testimony-item blockquote {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .testimony-item blockquote p {
    padding: 0;
  }
  .testimony-item .quotation {
    top: -0.8rem;
    left: 1.7rem;
  }
  .testimony-item cite {
    padding-top: 1.5rem;
  }
  .testimony-items {
    padding: 4rem 0 2rem 0;
  }
  .swiper-slide {
    height: auto;
    opacity: 1;
    visibility: visible;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
  }
  .swiper {
    overflow: visible;
  }
  .contact {
    padding: 5rem 1.5rem;
    flex-direction: column;
    align-items: flex-start;
  }
  .contact-text {
    margin-right: 0;
    width: 100%;
  }
  .contact-text h3 {
    margin-bottom: 1rem;
  }
  .contact-text p {
    font-size: 1rem;
    margin-bottom: 2.875rem;
    line-height: 1.625rem;
  }
  .contact-information {
    padding-top: 4rem;
  }
  .contact-information li {
    font-size: 1rem;
  }
   footer {
    flex-direction: column;
    padding: 4rem 1.5rem;
    align-items: flex-start;
  }
  footer .copyright p {
    margin-top: 0.75rem;
    margin-bottom: 2rem;
  }
  footer .copyright .logo-footer {
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
  }
  .back-top {
    opacity: 1;
    visibility: visible;
  }
  .hide-button {
    opacity: 0;
    visibility: hidden;
  }
}
@media (min-width: 769px) and (max-width: 1024px){
  :root {
    --title-font-size: 1.9rem;
  }
  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }
  .menu {
    padding: 0.65rem 2rem;
  }
  .menu-link {
    justify-content: flex-end;
  }
  .menu-link-item {
    margin-right: 1.5rem;
  }
  .main {
    padding: 15rem 0 0 0;
  }
  .main .description {
    order: 1;
    margin: 2.5rem 0 0 2rem;
    align-items: center;
  }
  .clinic img {
    order: 0;
    width: 24rem;
  }
  .clinic::before {
    top: -1.25rem;
    left: -16.9rem
  }
  .about {
    height: auto;
  }
  .about-image img {
    width: 24rem;
    margin-right: 0;
  }
  .about-image::before {
    left: 5rem;
    top: -1.125rem;
  }
  .about-image {
    order: 1
  }
  .about-us {
    padding: 0 2rem;
    order: 0;
  }
  .services {
    height: auto;
    padding: 10rem 2rem;
  }
  .services-description {
    padding: 0;
  }
  .services-examples-item {
    height: auto;
  }
  .services-examples-item h4 {
    font-size: 1.2rem;
  }
  .services-examples-item p {
    margin: 0 2rem 2.5rem;
  }
  .testimony-items {
    padding: 4rem 2rem 3.625rem;
  }
  .contact {
    padding: 10rem 2rem;
  }
  .contact-text {
    width: auto;
    margin-right: 0;
    padding-right: 3rem;
  }
}
@media (min-width: 1025px) and (max-width: 1294px) {
  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }
  .services {
    height: auto;
  }
  .services-description {
    padding: 0;
  }
  .services-examples-item {
    height: auto;
  }
  .services-examples-item h4 {
    font-size: 1.3rem;
  }
  .contact {
    justify-content: space-between;
  }
  .contact-information {
    padding-right: 3.5rem;
  }
  .contact-text {
    margin-right: 0;
  }
}